* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "open sans";
}
/* REGOLE HEADER */
#container-header {
    display: flex;
    align-items: center;
    height: 80px;
    /* DEBUG */
    background-color: lightgray;
}
#first-header {
    width: 98%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}
.black-font{
    color: black;
    font-size: 14px;
}
#nav, #info {
    display: flex;
    gap: 40px;
}

/* REGOLE JUMBO */
#bg-jumbotron {
    display: flex;
    align-items: end;
    background-color: rgb(165, 213, 245);
    height: 670px;
}
#container-jumbotron {
    display: flex;
    flex-direction: column;
    width: 78%;
    margin: 0 auto;
}
#title {
    width: 100%;
    /* DEBUG */
    background-color: blueviolet;
    height: 160px;
}
#description {
    display: flex;
    width: 100%;
    /* DEBUG */
    background-color: rgb(226, 223, 43);
    height: 400px;
}
#text {
    width: 30%;
    /* DEBUG */
    background-color: brown;
    height: 400px;
}
#img {
    width: 70%;
    /* DEBUG */
    background-color: gray;
    height: 400px;
}

