* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "open sans";
}
/* REGOLE HEADER */
header {
    margin-bottom: 200px;
}
#container-header {
    width: 100%;
    display: flex;
    align-items: center;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 400;
    background-color: white;
    /* DEBUG */
    /* background-color: rgba(255, 255, 255, 0.993); */
}
#first-header {
    width: 98%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
#inizia {
    display: inline;
    background-color: rgb(18, 101, 253);
    color: white;
    font-size: 14px;
    padding: 5px 15px;
}
#pulsante-inizia {
    margin-top: 17px;
}

a {
    text-decoration: none;
}
.black-font{
    color: black;
    font-size: 14px;
    background-color: white;
    padding: 20px 10px;
}
#nav, #info {
    display: flex;
    gap: 10px;
}

/* REGOLE JUMBO */
#bg-jumbotron {
    display: flex;
    align-items: end;
    background-color: rgb(165, 213, 245);
    height: 860px;
}
#container-jumbotron {
    display: flex;
    flex-direction: column;
    width: 67%;
    margin: 0 auto;
}
#title {
    width: 100%;
    font-weight: 900;
    font-size: 78px;

    /* DEBUG */
    /* background-color: blueviolet;
    height: 160px; */
}
#description {
    display: flex;
    width: 100%;
    /* DEBUG */
    /* background-color: rgb(226, 223, 43);
    height: 400px; */
}
#text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    padding-top: 40px;
    /* DEBUG
    background-color: brown;
    height: 400px; */
}
.button {
    background-color: rgb(18, 101, 253);
    padding: 7px 15px;
    color: white;
}
#arrow {
    font-size: 80px;
    font-weight: 900;
    padding-bottom: 20px;
}
#img {
    width: 70%;
    /* DEBUG */
    /* background-color: gray;
    height: 400px; */
}
#img-jumbo {
    width: 800px;
    padding-top: 40px;
    z-index: 30;
}

/* REGOLE MAIN */
main {
    width: 62%;
    margin: 0 auto;
}
/* PRIMA PAGINA */
.first-column {
    margin-bottom: 50px;
}
#container-firspage {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.title-section {
    width: 100%;
    /* DEBUG */
    background-color: aqua;
    height: 200px;
}
.columns-container {
    width: 100%;
    /* DEBUG */
    background-color: rgb(255, 255, 40);
    height: 1200px;
}
/*  */
.columns-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.description-section {
    width: 30%;
    border: 1px dashed black;
    /* DEBUG */
    background-color: aquamarine;
    height: 1200px;
}
.second-column {
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
}
.title-team {
    display: flex;
    width: 100%;
    /* DEBUG */
    background-color: aqua;
    height: 35px;
}
#content-column {
    display: flex;
}
.big-section {
    width: 70%;
    border: 1 solid black;
    /* DEBUG */
    height: 300px;
    background-color: rgb(205, 168, 240);
}
.small-section {
    width: 30%;
    border: 1 solid black;
    /* DEBUG */
    height: 300px;
    background-color: rgb(91, 67, 114);
}
/* INIZIO SECONDA PAGINA */
#media-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#img-container {
    width: 60%;
    /* DEBUG */
    border: 1px solid black;
    background-color: rgb(107, 148, 187);
    height: 500px;
}

#text-container {
    width: 35%;
    /* DEBUG */
    border: 1px solid black;
    background-color: rgb(122, 223, 119);
    height: 500px;
}
#fine-pagina {
    margin-bottom: 150px;
}

/* inizio terza pagina */
#box-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.container-articoli {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* DEBUG */
    /* background-color: rgb(107, 221, 221);
    border: 1px solid black;
    height: 400px; */
}
#dropbox-business {
    width: 100%;
    /* DEBUG */
    background-color: rgb(132, 214, 187);
    height: 60px;
    border: 1px solid black;
}

.articolo {
    width: 31%;
    /* DEBUG */
    background-color: rgb(136, 93, 177);
    border: 1px solid black;
    height: 400px;
}
.page-space {
    margin-bottom: 220px;
}
/* inizio ultima pagina */
#last-page {
    width: 100%;
    /* DEBUG */
    border: 1px solid black;
    height: 300px;
    background-color: gray;
}
/* FINE MAIN */
/* REGOLE FOOTER */
footer {
    background-color: black;
    height: 456px;
}
#container-footer {
    display: flex;
    width: 70%;
    margin: 0 auto;
    padding-top: 65px;
}
.info {
    width: 20%;
    /* DEBUG */
    background-color: rgb(255, 56, 56);
    border: 1px dashed white;
    height: 250px;
}

#container-language {
    display: flex;
    width: 70%;
    margin: 0 auto;
    padding-top: 60px;
}
#language {
    width: 10%;
    border-top: 2px solid white;
    /* DEBUG */
    background-color: blueviolet;
    height: 80px;
}
